* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: math;
    font-size: 16px;
}

body {
    background: #fff;
}

.head h2 a {
    color: black;
    font-size: 30px;
    position: absolute;
}

.navbar ul {
    margin-left: 800px;
}

.navbar li {
    display: inline;
}

.navbar li a {
    margin: 20px;
    color: black;
    font-size: 22px;
}

button {
    position: absolute;
    background-color: black;
    padding: 2px;
    width: 100px;
    border-radius: 5px;
    margin: 0 0 0 10px;
}

button a {
    color: white;
}

.img-1 img {
    position: absolute;
    margin: 50px 0 0 50px;
}

.product-name h2 {
    font-size: 40px;
    position: absolute;
    display: block;
    margin: 50px 0 0 700px;
}

.product-name #p1 {
    position: absolute;
    display: block;
    margin: 110px 0 0 700px;
    font-size: 30px;
    color: grey;
}

.product-name #p2 {
    position: absolute;
    display: block;
    margin: 160px 0 0 700px;
    font-size: 30px;
}

.product-name #p3 {
    position: absolute;
    display: block;
    margin: 206px 90px 0 700px;
    font-size: 25px;
}

.product-name button {
    position: absolute;
    background-color: black;
    padding: 15px;
    width: 560px;
    border-radius: 6px;
    margin: 280px 0 0 700px;
}

.product-name button a {
    color: white;
    font-size: 25px;
    font-family: math;
}

.product-name #p4 {
    color: grey;
    position: absolute;
    display: block;
    margin: 360px 90px 0 700px;
    font-size: 25px;
}

.mid-2 h1 {
    font-size: 35px;
    margin: 550px 0 0 60px;
    position: absolute;
}

.img-2-content-1 img {
    position: absolute;
    margin: 600px 0 0 50px;
}

.img-2-content-1 h1 {
    font-size: 30px;
    position: absolute;
    margin: 840px 0px 0px 60px;
}

.img-2-content-1 #p5 {
    position: absolute;
    margin: 880px 0px 0px 60px;
    color: grey;
    font-size: 25px;
}

.img-2-content-1 #p6 {
    font-size: 22px;
    position: absolute;
    margin: 920px 0px 0px 60px;
}

.img-2-content-2 img {
    position: absolute;
    margin: 600px 0 0 500px;
}

.img-2-content-2 h1 {
    font-size: 30px;
    position: absolute;
    margin: 840px 0px 0px 500px;
}

.img-2-content-2 #p7 {
    position: absolute;
    margin: 880px 0px 0px 500px;
    color: grey;
    font-size: 25px;
}

.img-2-content-2 #p8 {
    font-size: 22px;
    position: absolute;
    margin: 920px 0px 0px 500px;
}

.img-2-content-3 img {
    position: absolute;
    margin: 600px 0 0 950px;
}

.img-2-content-3 h1 {
    font-size: 30px;
    position: absolute;
    margin: 840px 0px 0px 950px;
}

.img-2-content-3 #p9 {
    position: absolute;
    margin: 880px 0px 0px 950px;
    color: grey;
    font-size: 25px;
}

.img-2-content-3 #p10 {
    font-size: 22px;
    position: absolute;
    margin: 920px 0px 0px 950px;
}

.foot a h1 {
    position: absolute;
    color: black;
    font-size: 30px;
    margin: 10px 0 0 120px;
}

.social-links {
    position: absolute;
    margin: 200px 0 0 100px;
}

.social-links .fa-xl {
    font-size: 1.8em;
    margin-left: 15px;
    color: black;
}

.social-links .fa-xl:hover {
    transition: all 0.3s;
    color: darkgray;
}

.topic-page {
    margin: 0px 0px 20px 800px;
}